<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gharbar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utills.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SignUpActivity"></activity>
        <activity android:name=".AddImages" />
        <activity android:name=".activities.AdminAddCategoryActivity" />
        <activity android:name=".activities.sell_plots" />
        <activity android:name=".activities.sell_flats" />
        <activity android:name=".activities.sell_shops" />
        <activity android:name=".activities.sell_house" />
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.RentActivity" />
        <activity android:name=".activities.SellActivity" />
        <activity android:name=".activities.BuyActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.SigninActivity" />
        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>